<section class="test">
  <div class="container test-container">
    <div class="test-pre-title" id="pre-title"></div>
    <div class="test-progress-bar" id="progress-bar"></div>
    <div class="test-question">
      <div class="test-question-title" id="title"></div>
      <div class="test-question-options" id="options"></div>
    </div>
    <div class="test-actions">
      <div class="test-previous-action">
        <button class="btn btn-transparent" disabled id="previous">
          Назад
        </button>
      </div>
      <div class="test-next-action">
        <button class="btn btn-transparent" disabled id="next">
          Дальше
        </button>
      </div>
    </div>
  </div>
</section>