
<section class="main">
    <div class="container main-container">
        <div class="main-content">
            <h1 class="big-title">Проверь свои знания JavaScript вместе с <span
                    class="main-title-span">АйтилогияQuiz</span>!</h1>
            <div class="main-description ">Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!
            </div>
            <a href="#/form" class="btn">Начать тест</a>
        </div>
        <div class="main-image">
            <img src="./assets/images/main-image.png" alt="Главная картинка">
        </div>
    </div>
</section>