.test {
    padding: 20px 0 56px 0;
}

.test-pre-title {
    font-size: 20px;
    line-height: 24px;
    color: #DCDCF3;
}

.test-progress-bar {
    display: flex;
    margin-top: 60px;
    margin-bottom: 80px;
    gap: 130px;

}

.test-question-title {
    font-family: 'Museo Sans Bold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    margin-bottom: 40px;
}

.test-question-title span {
    color: #6933DC;
}

.test-question-options {
    display: flex;
    flex-direction: column;
    min-height: 356px;
}

.test-question-option {
    display: flex;
    gap: 13px;
    font-size: 20px;
    line-height: 24px;
    padding: 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}



.test-question-option label {
    cursor: not-allowed;
}

.test-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:25px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: not-allowed;
    width: 20px;
    height: 20px;
    border: 3px solid #6933dc;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.test-question-option.uncorrect{
    color: #DC3333;
}
input[type="radio"].uncorrect{
    border: 7px solid #DC3333;
}
.test-question-option.correct{
    color: #5FDC33;
}
input[type="radio"].correct{
    border: 7px solid #5FDC33;
}


.answers-link{
    display: flex;
    align-items: center;
    gap:13px;
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    text-decoration: none;
    justify-content: end;
}
/* Стили для прогресс-бара */
.test-progress-bar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.test-progress-bar-item-circle{
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background: #DCDCF3;
}

.test-progress-bar-item-text{
    line-height: 16px;
    margin-top: 16px;
}

.test-progress-bar-item:not(:last-child)::before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 184px;
    height: 6px;
    background: #DCDCF3;
    left: 40px;
    top: 10px;
}

.test-progress-bar-item.complete:not(:last-child)::before{
    background: #6933DC;
}

.test-progress-bar-item.complete .test-progress-bar-item-circle,
.test-progress-bar-item.active .test-progress-bar-item-circle{
    background: #6933dc;
}

.test-progress-bar-item.active::after{
    content: '';
    border-radius: 50% ;
    position: absolute;
    z-index: 1;
    width: 14px;
    height: 14px;
    background: #DCDCF3;
    top: 6px;
}
.test-pre-title{
    display: flex;
    margin-bottom: 60px;
    gap:15px;
    align-items: center;
}
.test-pre-title .test-name{
    font-size: 20px;
    line-height: 24px;
    color: #6933DC;

}

.answers-title{
    max-width: 753px;
    margin-bottom: 10px;
}

.complete-test{
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}
.complete-test span{
    color: #6933DC;
}
.pre-title{
    margin-bottom: 60px;
}

.answers-question-options{
    margin-bottom: 60px;
}
