body {
	font-family: 'Museo Sans Cyrl', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #333333;
}
.test-pre-title {
	font-size: 20px;
	line-height: 24px;
	color: #DCDCF3;
}

@font-face {
	src: url('../../assets/fonts/museosanscyrl_100.otf');
	font-family: 'Museo Sans Bold', sans-serif;
	font-weight: 700;
}
@font-face {
	src: url('../../assets/fonts/Poppins-Regular.ttf');
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.hide svg{
	width: 25px;
	height: 25px;
	fill: #6933dc;
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: 19px;
}
@font-face {
	src: url('../../assets/fonts/museosanscyrl_100.otf');
	font-family: 'Museo Sans Cyrl', sans-serif;
	font-weight: 500;
}

.header {
	padding: 42px 0 40px;
	border-bottom: 1px solid #dcdcf3;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #6933dc;
}
.common-title {
	margin: 0;
	font-weight: bold;
	font-family: 'Museo Sans Bold', sans-serif;
	font-size: 48px;
	line-height: 58px;
	color: #333333;
}
.common-title span {
	color: #6933dc;
}
.big-title {
	max-width: 588px;
	margin-top: 0;
	margin-bottom: 40px;
	font-family: 'Museo Sans Bold', sans-serif;
	font-size: 54px;
	font-weight: bold;
	line-height: 65px;
	color: #333333;
}
.big-title span {
	color: #6933dc;
}
.btn {
	text-decoration: none;
	color: #fff;
	background: #6933dc;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 17px;
	transition: all 0.4s ease;
	padding: 14px 35px;
}

.btn:hover {
	background: #4a269a;
}

.btn:disabled {
	background: #a8a3a3;
	cursor: not-allowed;
}
.btn-transparent {
	color: #6933dc;
	border: 1px solid #6933dc;
	box-sizing: border-box;
	background: transparent;
}

.btn-transparent:hover {
	color: #ffffff;
	background: #6933dc;
}

.btn-transparent:disabled {
	color: #a8a3a3;
	border: 1px solid #a8a3a3;
	box-sizing: border-box;
	background: transparent;
}
footer {
	padding: 40px 0;
	text-align: center;
}

.footer-text {
	font-size: 13px;
	color: #dcdcf3;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile {
	display: flex;
	align-items: center;
}
.profile img {
	margin-right: 5px;
}
.profile-user {
	font-size: 18px;
	line-height: 18px;
	color: #333333;
}

.profile-logout {
	font-size: 12px;
	line-height: 12px;
}
